streamlit
plotly
pandas
duckdb
pymongo
google-genai
joblib
wordcloud 
matplotlib
pythainlp
PyThaiNLP
numpy<2.0
scikit-learn==1.6.1
python-crfsuite
seaborn
pillow
requests
dill
tensorflow
transformers
sentencepiece
